<div class="users-parent-container">
  <div>
    <div class="user-search-input">
      <input type="text" name='username_initials' id="search_username" placeholder="Enter Username to search" >
    </div>
    <div>
      <%= render 'users', :users => @users %>
    </div>
  </div>
  <div class="selected-user"></div>
</div>
