<div class='user-profile'>
    <%= render 'show' , user: current_user %>

    <div class='edit-user-profile'>
        <%= link_to "Edit", edit_user_registration_path, remote: true, class: 'edit-user-profile' %>
    </div>
</div>